<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>

<div id="main">
<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
      <h3>Enter new password</h3>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Update Password", class:'button' %>
    </div>
    <div class="messages">
      <% if @user.errors.any? %>
          <% for message in @user.errors.full_messages %>
              <%= message %>
          <% end %>
      <% end %>
    </div>
<% end %>
  <div id="schedule">
    <%= image_tag "logo6.jpg" %>
  </div>
  </div>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%= image_tag "location.png"%>Western Road, Cork
      <%= image_tag "phone.png" %><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>
    <small>
      &copy; Group One. All rights reserved.
    </small>
  </p>
</footer>

</body>

</html>
