<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Reset Password</title>


</head>
<body>

<div id="main">
<%= form_tag password_resets_path do %>
      <h3>Forgot Password </h3>
    <div class="field">
      <%= label_tag 'Username' %>
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="actions">
      <%= submit_tag :recover, value: "Recover", class:'button' %>
    </div>
    <div class="messages">
      <% flash.each do |name,msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}", class: "notification" %>
      <% end %>
    </div>
<% end %>
  <div id="schedule">
    <%= image_tag "logo6.jpg" %>
  </div>
  </div>
</body>

</html>
