<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>

<div id="main">
<%= form_tag password_resets_path do %>
      <h3>Forgot Password </h3>
    <div class="field">
      <%= label_tag 'Username' %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="actions">
      <%= submit_tag :recover, value: "Recover", class:'button' %>
    </div>
    <div class="messages">
      <% flash.each do |name,msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}", class: "notification" %>
      <% end %>
    </div>
<% end %>
  <div id="schedule">
    <%= image_tag "logo6.jpg" %>
  </div>
  </div>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%= image_tag "location.png"%>Western Road, Cork
      <%= image_tag "phone.png" %><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>
    <small>
      &copy; Group One. All rights reserved.

    </small>
  </p>
</footer>

</body>

</html>
