
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Your Profile</title>



</head>
<body>
<div id="main">
  <div id="one1">
<h5><%= link_to 'Edit Profile', edit_user_path %></h5>

<p>
  <strong>Name:</strong>
  <%= @user.fname %> <%= @user.lname %>
</p>

<p>
  <strong>Username</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Course Enrolled:</strong>
  <%= @user.course_enrolled %>
</p>
  <div id="schedule">
    <%= image_tag "unnamed.jpg", alt:"Logo of University college Cork" %>
  </div>
    </div>
</div>
</body>

</html>