<div id="main">
<% @coursemodules.each do |cm| %>

    <tr>
      <td><%=cm.course_code%></td>
      <td><%=cm.module_code%></td>
      <td><%= cm.module_name %></td>
      <td><%= link_to 'Edit', edit_coursemodule_path(cm) , class:'link'%></td>
      <td><%= link_to 'Destroy', cm, method: :delete, data: { confirm: 'Are you sure?' } , class:'link'%></td>
    </tr>
<% end %>
  <div id="schedule">
    <%= image_tag "unnamed.jpg", alt:"Logo of University college Cork" %>
  </div>
    </div>