<li><%= @coursemodule.course_code %></li>
<li><%= @coursemodule.module_code %></li>
<li><%= @coursemodule.module_name %></li>
<li><%= @coursemodule.start_time %></li>
<li><%= @coursemodule.end_time %></li>