<!DOCTYPE html>
<html>
<head>
  <title>TimeTableApp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="/assets/fullcalendar.print.css" media="print" rel="stylesheet" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>

<header>
  <%= image_tag "UCCLogo.jpg" , alt:"Logo of University college Cork"%>
  <div id="logo">
    <%= image_tag "calendarLogo.jpg", alt:"Logo of University college Cork"%>
  </div>
</header>
<body>
<nav>
  <label for="show-menu" class="show-menu">Show Menu</label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li><%= link_to 'Home', root_url %></li>
    <% if signed_in? %>
        <% (user = User.find(session[:user])).username %>
    <li><%= link_to 'My Profile',user %></li>
    <% else %>
    <% end %>
    <li><%= link_to 'Timetable', controller: 'timetable', action: 'index'  %></li>
    <li><%= link_to 'My Appointments &raquo;', controller: 'events', action: 'index' %>
        <ul>
            <li><%= link_to 'Events', controller: 'events', action: 'new' %></li>
            <li><%= link_to 'Meetings', controller: 'meetings', action: 'new' %></li>
            </ul>
    </li>
  </ul>
</nav>
<%= yield %>

</body>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%= image_tag "location.png"%>Western Road, Cork
      <%= image_tag "phone.png" %><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>


    <small>
    &copy; Group One. All rights reserved.

    </small>
  </p>
</footer>

</html>
